.booking-heading {
    padding: 30px 50px;
}

@media (max-width:768px) {

    .booking-heading {
        padding-left: 25px;
    }
}

@media (max-width:576px) {

    .booking-heading {
        padding: 20px 20px;
    }

    .booking-heading img {
        width: 85px;
        height: 33px;
    }
}

.booking-steps .down-arr {
    background-color: #c4c4c4;
    width: 29px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.booking-steps .active {
    background-color: #F33071;
}

@media (max-width:768px) {
    .booking-steps {
        margin-top: 13px;
    }
}

.booking-steps p {
    font-family: var(--pp-font-assistant) !important;
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
    margin-bottom: 0;
    margin-left: 10px;
}

.booking-steps .step-line {
    width: 100px;
    height: 1px;
    background-color: rgba(196, 196, 196, 0.57);
    margin-left: 17px;
    margin-right: 17px;
}

@media (max-width:768px) {
    .booking-steps .step-line {
        width: 50px;
    }
}

.booking-appointment {
    margin-top: 75px;
}

@media (max-width:768px) {
    .booking-appointment {
        margin-top: 48px;
    }
}

.booking-appointment .booking-pagination {
    margin-left: unset !important;
    margin-right: unset !important;
    padding-left: 15px !important;
}

@media (max-width:576px) {
    .booking-appointment {
        margin-top: 0;
        padding: 0 0px;
        background-color: #F2F2F2;
    }
}

.booking-appointment .appointment-info {
    margin-left: auto;
}

@media (max-width:576px) {
    .booking-appointment .p-sm-0 {
        padding: 0 !important;
    }
}



@media (max-width:576px) {

    .booking-appointment .appointment-info h1 {
        text-align: center !important;
        margin-bottom: 20px !important;
    }
}


.booking-appointment .card-style {
    width: 378px;
    height: auto;
    background-color: white;
    border: 2px solid #C4C4C4;
    box-shadow: 0px 4px 20px #C4C4C4;
    padding: 38px 40px;
    /* margin: auto; */
}

.booking-appointment .card-style .b-text {
    font-weight: 700;
}

@media (max-width:1024px) {
    .booking-appointment .card-style {
        width: unset;
    }
}

@media (max-width:576px) {
    .booking-appointment .card-style {
        border: none;
        box-shadow: none;
        padding: 5px 5px;
    }

    .booking-appointment .detail-card {
        margin-top: 15px !important;
        padding-left: 25px !important;
        padding-right: 25px !important;
        padding-top: 25px !important;
    }
}

.booking-appointment .card-style h1 {
    font-size: 29px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 35px;
}

@media (max-width:576px) {
    .booking-appointment .card-style h1 {
        text-align: left;
        font-size: 20px;
        margin-bottom: 5px;
    }
}

.booking-appointment .card-style p {
    font-family: var(--pp-font-assistant) !important;
    color: black;
    font-size: 16px;
    margin-bottom: 0;
}

@media (max-width:576px) {
    .booking-appointment .card-style p {
        font-size: 14px;
    }
}

.booking-appointment .card-style span {
    font-family: var(--pp-font-assistant) !important;
    color: black;
}

@media (max-width:768px) {
    .booking-appointment .appointment-info {
        width: 48%;
        margin-left: 0;
    }
}

@media (max-width:576px) {
    .booking-appointment .appointment-info {
        width: unset;
        margin-left: auto;
        padding-top: 20px;
    }

    .booking-appointment .fee-info {
        width: unset;
        margin-top: unset;
    }
}

.booking-appointment .card-style .ques {
    font-weight: 600;
}

.booking-appointment .card-style .b-ques {
    font-weight: 700;
}

.booking-appointment .card-style .h-text {
    font-size: 20px;
    color: var(--pp-main);
    font-weight: 600;
}

@media (max-width:576px) {
    .booking-appointment .card-style .h-text {
        font-size: 16px;
    }
}

.booking-appointment .card-style .h-color {
    color: var(--pp-main);
}

.booking-appointment .card-style form {
    font-family: var(--pp-font-assistant) !important;
    color: black;
    font-size: 16px;
    margin-bottom: 0;
}

@media (max-width:576px) {
    .booking-appointment .card-style form {
        font-size: 14px;
    }
}

.booking-appointment .card-style label {
    font-weight: 600;
    line-height: 21px;
    margin-bottom: 15px;
}

@media (max-width:576px) {
    .booking-appointment .card-style label {
        margin-bottom: 10px;
    }
}

.booking-appointment .card-style form #ph-number {
    padding: 0;
    border: 0;
    border-radius: 0 !important;
    -webkit-appearance: none !important;
    padding: 10px !important;
    border: 1px solid #b1b1b1 !important;
    width: 100%;
    outline-color: var(--pp-main);
    margin-bottom: 25px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

@media (max-width:576px) {
    .booking-appointment .card-style form #ph-number {
        padding: 10px !important;
        border: 1px solid #b1b1b1 !important;
    }
}

.booking-appointment .card-style form textarea {
    width: 100%;
    height: 97px;
    /* color: var(--pp-main); */
    margin-bottom: 20px;
    padding: 10px;
    outline-color: var(--pp-main);
}

.booking-appointment .extras-info {
    height: 100%;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 3px;
    padding-bottom: 20px;
}

@media (min-width:1366px) {
    .booking-appointment .extras-info {
        margin-left: 8px;
    }
}

@media (min-width:1024px) {
    .booking-appointment .extras-info {
        margin-right: 15px;
    }
}

@media (max-width:768px) {
    .booking-appointment .extras-info {
        margin-top: 26px;
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media (max-width:576px) {
    .booking-appointment .extras-info {
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 25px;
        margin-left: unset;
        margin-right: unset;
        margin-top: 10px;
    }
}

.booking-appointment .card-info {
    width: 100%;
    height: 100%;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
}

@media (max-width:768px) {
    .booking-appointment .card-info {
        margin-top: 25px;
        height: 100%;
    }
}

@media (max-width:576px) {
    .booking-appointment .card-info {
        height: unset;
        padding-left: 0;
        padding-right: 0;
        margin-top: 25px;
    }
}

.booking-appointment .card-info form input {
    width: 100%;
    border: 1px solid #C4C4C4;
    padding: 15px 10px;
    margin-bottom: 15px;
    border-radius: 0 !important;
    -webkit-appearance: none;
    height: 46.17px;

    outline-color: var(--pp-main);
}

.booking-appointment .card-info .stripe {
    margin: auto;
    display: block;
    margin-top: 20px;
}

.booking-appointment .card-info .payment-type>img:not(:last-child) {
    margin-right: 0px;
}

@media (max-width:576px) {
    .booking-appointment .card-info .stripe {
        margin: 0;
        /* transform: scaleX(1.5); */
        margin-right: 0px;
    }
}

.booking-appointment .card-info form label {

    margin-bottom: 5px;
}

.booking-appointment .card-info form input::placeholder {
    color: #C4C4C4;
}

.booking-appointment .card-info form .payment-btn {
    width: 147.74px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #F33071;
    box-shadow: 0px 4px 4px #4EEBF5;
    font-family: var(--pp-font-main);
    font-size: 20px;
    color: #B1B1B1;
    margin: auto;
}

@media (max-width:1024px) {
    .booking-appointment .card-info form .payment-btn {
        margin-top: 20px;
    }
}

@media (max-width:576px) {
    .booking-appointment .card-info form .payment-btn {
        margin-top: unset;
    }
}

.extras-info ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--pp-main);
    opacity: 1;
    /* Firefox */
}

.extras-info :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--pp-main);
}

.extras-info ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--pp-main);
}


@media (max-width:576px) {
    .booking-appointment .card-info form .btn-wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .booking-appointment .card-info form .back-btn {
        width: 71px;
        height: 44px;
        border: none;
        outline: none;
        font-family: var(--pp-font-main);
        font-size: 16px;
        color: var(--pp-main);

        background: #FFFFFF;
        border: 1px solid #F33071;
        box-shadow: 0px 1px 4px #4EEBF5;
    }

    .booking-appointment .card-info form .payment-btn {
        width: 147.74px;
        height: 44px;
        font-size: 16px;
        margin-top: 0;
        margin: unset;
    }
}

.booking-appointment .booking-pagination {
    margin-top: 45px;
    margin-bottom: 50px;
    margin-left: 7.5%;
    margin-right: unset;
    bottom: unset !important;
}

.booking-appointment .app-row {
    max-width: 1214px;
    margin: auto;
}

@media (max-width:1024px) {
    .booking-appointment .app-row {
        width: 100%;
        margin: auto;
    }
}

@media (max-width:768px) {
    .booking-appointment .app-pay-col {
        width: 100vw;
        display: flex;
    }
}

@media (max-width:576px) {
    .booking-appointment .app-pay-col {
        width: 100%;
        display: block;
        padding: 0 15px;
        padding-top: 15px;
        padding-bottom: 5px;
    }
}

@media (max-width:768px) {

    .booking-appointment .fee-info {
        width: 48%;
        margin-top: 0 !important;
        margin-left: auto;
    }
}

@media (max-width:576px) {
    .booking-appointment .fee-info {
        margin-top: 5px !important;
        margin-left: unset;
        width: unset;
    }

    .booking-appointment .fee-col {
        padding-left: 15px;
        padding-right: 15px;
    }

    .booking-appointment .fee-sm-info {
        padding-top: 13px;
    }

    .booking-appointment .fee-sm-info h1 {
        margin-bottom: 5px !important;
    }
}


.booking-appointment .separator {
    width: 100%;
    height: 1px;
    background-color: #b1b1b1;
}


.booking-pagination {
    width: 65%;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
}

.relative-btn {
    position: relative;
    left: unset;
    transform: unset;
    bottom: unset;
}

@media (max-width:768px) {
    .booking-pagination {
        bottom: 150px;
    }
}

@media (max-width:576px) {
    .booking-pagination {
        bottom: unset;
        position: relative;
        left: unset;
        transform: unset;
    }
}

.booking-pagination .pagi-btn {
    border: none;
    outline: none;
    background-color: white;
    width: 122px;
    height: 44px;
    border: 1px solid #F33071;
    box-shadow: 0px 4px 4px #4EEBF5;
    color: #B1B1B1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

@media (max-width:576px) {
    .booking-pagination {
        width: unset;
        margin: unset;
        margin-top: 40px;
        justify-content: unset;
        padding-left: 10%;

    }

    .booking-pagination .pagi-btn {
        width: 58px;
        height: 31px;
        font-size: 14px;
        box-shadow: 0px 1px 4px #4EEBF5;
        margin-right: 20px;
    }
}

.booking-pagination .active-btn {
    color: #F33071;
}