.booking-heading {
    padding: 30px 50px;
}

@media (max-width:768px) {

    .booking-heading {
        padding-left: 25px;
    }
}

@media (max-width:576px) {

    .booking-heading {
        padding: 20px 20px;
    }

    .booking-heading img {
        width: 85px;
        height: 33px;
    }
}

.booking-steps .down-arr {
    background-color: #c4c4c4;
    width: 29px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.booking-steps .active {
    background-color: #F33071;
}

@media (max-width:768px) {
    .booking-steps {
        margin-top: 13px;
    }
}

.booking-steps p {
    font-family: var(--pp-font-assistant) !important;
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
    margin-bottom: 0;
    margin-left: 10px;
}

.booking-steps .step-line {
    width: 100px;
    height: 1px;
    background-color: rgba(196, 196, 196, 0.57);
    margin-left: 17px;
    margin-right: 17px;
}

@media (max-width:768px) {
    .booking-steps .step-line {
        width: 50px;
    }
}

.booking-schedule-picker {
    width: 60%;
    margin: auto;
    padding-left: 100px;
    margin-top: 100px;
    margin-bottom: 125px;
}

@media (max-width:768px) {
    .booking-schedule-picker {
        width: 100%;
        padding-left: 50px;
    }
}

@media (max-width:576px) {
    .booking-schedule-picker {
        margin-bottom: unset;
        margin-top: 10px;
        padding-left: 25px;
    }
}

.booking-schedule-picker h1 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 18px;
}

@media (max-width: 576px) {
    .booking-schedule-picker h1 {
        font-size: 20px;
        margin-bottom: 5px;
    }
}

.booking-schedule-picker .separator {
    width: 90%;
    height: 1px;
    background-color: #B1B1B1;
}

@media (max-width: 576px) {
    .booking-schedule-picker .separator {
        margin-bottom: 28px;
    }
}

.booking-schedule-picker {
    font-family: var(--pp-font-assistant) !important;
    font-weight: 600;

}

.booking-schedule-picker .day {
    width: 96.85px;
    height: 36.14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;

    border: 2.5px solid rgba(100, 97, 97, 0.38);
    border-radius: 8px;
    font-size: 18px;
}

@media (max-width:576px) {
    .booking-schedule-picker .day {
        width: 75.02px;
        height: 28px;
        font-size: 16px;
        margin-left: 10px;
    }
}

.booking-schedule-picker .day-control {
    font-size: 24px;
    font-weight: 400;
    margin-left: 10px;
}

.booking-schedule-picker .day-control .control-btn {
    width: 46.98px;
    height: 36.14px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    background: white;
    border: 2.5px solid rgba(100, 97, 97, 0.38);
    border-radius: 8px;
    margin-right: 5px;
}

@media (max-width:576px) {
    .booking-schedule-picker .day-control .control-btn {
        width: 38px;
        height: 28px;
    }

    .booking-schedule-picker .day-control .control-btn img {
        width: 8px;
        height: 12px;
    }
}

.booking-schedule-picker .day-control .control-btn:active {
    background-color: #F2F2F2;
}

.booking-schedule-picker .day-control .control-btn:hover {
    background-color: #F2F2F2;
}

.booking-schedule-picker .day-picker {
    margin-top: 27px;
}

.booking-schedule-picker .day-picker .dayitem {
    width: 96.85px;
    height: 36.14px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0.9;
    color: black;
    cursor: pointer;
    font-size: 14px;

    border: 2px solid rgba(100, 97, 97, 0.38);
}

.booking-schedule-picker .day-picker .day-txt {
    font-weight: 400;
}

@media (max-width:576px) {
    .booking-schedule-picker .day-picker {
        margin-top: 20px;
        padding-left: 10px;
    }

    .booking-schedule-picker .day-picker .dayitem {
        width: 72.29px;
        height: 36.14px;
    }
}

.booking-schedule-picker .day-picker .day-active {
    background-color: rgba(78, 235, 245, 0.4);
}

.booking-schedule-picker .time-picker .timeitem {
    width: 96.85px;
    height: 36.14px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0.9;
    color: black;
    cursor: pointer;
    margin-right: 5px;

    border: 2px solid rgba(100, 97, 97, 0.38);
}

@media (max-width:576px) {
    .booking-schedule-picker .time-picker {
        padding-left: 10px;

    }

    .booking-schedule-picker .time-picker .timeitem {
        width: 93.24px;
        height: 36.14px;
        margin-bottom: 10px;
    }
}

.booking-schedule-picker .time-picker .time-active {
    background-color: rgba(78, 235, 245, 0.4);
}

.booking-pagination {
    width: 65%;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
}

.relative-btn {
    position: relative;
    left: unset;
    transform: unset;
    bottom: unset;
}

@media (max-width:768px) {
    .booking-pagination {
        bottom: 150px;
    }
}

@media (max-width:576px) {
    .booking-pagination {
        bottom: unset;
        position: relative;
        left: unset;
        transform: unset;
    }
}

.booking-pagination .pagi-btn {
    border: none;
    outline: none;
    background-color: white;
    width: 122px;
    height: 44px;
    border: 1px solid #F33071;
    box-shadow: 0px 4px 4px #4EEBF5;
    color: #B1B1B1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

@media (max-width:576px) {
    .booking-pagination {
        width: unset;
        margin: unset;
        margin-top: 40px;
        justify-content: unset;
        padding-left: 10%;

    }

    .booking-pagination .pagi-btn {
        width: 58px;
        height: 31px;
        font-size: 14px;
        box-shadow: 0px 1px 4px #4EEBF5;
        margin-right: 20px;
    }
}

.booking-pagination .active-btn {
    color: #F33071;
}