/* ---------------------------------------------

Customer- Log in page 

-------------------------------------------------*/
.cus-login-content {
  height: 110vh;
  padding: 0;
}

@media (min-height:739px) and (min-width:1000px) {
  .cus-login-content {
    height: 100vh;
    padding: 0;
  }
}

@media (max-width:768px) {
  .cus-login-content {
    height: 100vh;
    flex-direction: column-reverse;
  }
}

.cus-login-wrapper {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width:768px) {
  .cus-login-wrapper {
    width: 100%;
  }
}

.cus-login-wrapper .pp-logo {
  position: absolute;
  width: 189px;
  height: 83px;
  top: -5px;
  left: -20px;
  transform: scale(0.5);
}

.cus-login-wrapper .form-wrapper {
  text-align: center;
  /* padding-top: 125px; */
}

@media (min-height:739px) and (min-width:1000px) {
  .cus-login-wrapper .form-wrapper {
    padding-top: 0px !important;
  }
}

@media (max-width:768px) {
  .cus-login-wrapper .form-wrapper {
    transform: scale(1.4);
    padding-top: 0;
  }
}

@media (max-width:576px) {
  .cus-login-wrapper .form-wrapper {
    transform: scale(1);
    margin-top: -115px;
  }
}

.cus-login-wrapper .form-wrapper h1 {
  font-size: 28px;
  font-weight: 400;
}

@media (max-width:768px) {
  .cus-login-wrapper .form-wrapper h1 {
    font-size: 36px;
  }
}

.cus-login-wrapper .form-wrapper h2 {
  font-size: 18px;
  font-weight: 400;
}

@media (max-width:768px) {
  .cus-login-wrapper .form-wrapper h2 {
    font-size: 18px;
  }
}

.cus-login-content .form-wrapper .reglog-google {
  display: block;
  width: 283px;
  height: 38px;
  margin: auto;
  padding: 10px 30px;
  border: 1px solid #b1b1b1;
  box-shadow: 0px 4px 4px #00000025;
  margin-top: 18px;
  margin-bottom: 20px;
  cursor: pointer;
}

.cus-login-content .form-wrapper .reglog-google img {
  width: 18px;
  height: 18px;
}

.cus-login-content .form-wrapper .reglog-google p {
  font-family: var(--pp-font-assistant);
  font-weight: 700;
  color: #64616172;
  margin-bottom: 0 !important;
  margin-left: 45px;
}

.cus-login-content .form-wrapper .login-form {
  display: block;
  width: 283px;
  margin: auto;
}

.cus-login-content .form-wrapper .login-form .pp-input {
  width: 100%;
  height: 20px;
  padding: 0;
  outline: 0;
  border: 0;
  font-size: 16px;
  position: relative;
  border-bottom: 1px solid #b1b1b1;
  border-radius: 0 !important;
  color: #646161;
  margin-bottom: 12px;
  font-family: var(--pp-font-assistant);
  -webkit-appearance: none !important;
  font-weight: 600;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--pp-main);
  opacity: 1;
  font-weight: 400;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--pp-main);
  font-weight: 400;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--pp-main);
  font-weight: 400;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #646161 !important;
}

.cus-login-content .form-wrapper .forgot-pwd {
  display: block;
  text-align: center;
  font-family: var(--pp-font-assistant) !important;
  font-size: 12px;
  margin: auto;
  margin-top: 32px;
}

.cus-login-content .form-wrapper .signup-acc {
  font-family: var(--pp-font-assistant);
  color: #646161;
  font-size: 12px;
  margin-top: 30px;
}

.cus-login-content .form-wrapper .cus-booking {
  font-family: var(--pp-font-assistant);
  color: #646161;
  font-size: 12px;
  margin-top: 40px;
}

.cus-login-media {
  width: 55%;
  height: 100%;
  background-image: url(../img/customer-login.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

@media (max-width:1024px) {
  .cus-login-media {
    background-size: cover;
  }
}

@media (max-width:768px) {
  .cus-login-media {
    width: 100%;
    background-image: unset;
    height: unset;
    background-color: rgba(243, 48, 113, 0.26);
    padding: 25px 0 30px 0;
  }

  .cus-login-media .logo-img {
    display: block;
    width: 125px;
    height: 39px;
    margin: auto;
  }
}

.reglog-btn {
  width: 105px;
  height: 39px;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--pp-font-main);
  padding: 0px 20px;
  font-size: 24px;
  color: #646161;

  border: none;
  outline: none;
  background-color: white;
  border: 1.5px solid var(--pp-main);
  box-shadow: 0px 4px 8px var(--pp-secondary);
}

@media (max-width:768px) {
  .cus-login-media {
    padding: 0px 0 15px 0;
  }
}