.forgotpwd-pg {
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 170px;
}

@media (max-width:576px) {
    .forgotpwd-pg{
        padding-top: 113px;
    }
}

.forgetpwd-heading {
    padding: 30px 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

@media (max-width:768px) {

    .forgetpwd-heading {
        padding-left: 25px;
    }
}

@media (max-width:576px) {

    .forgetpwd-heading {
        padding: 20px 20px;
    }

    .forgetpwd-heading img {
        width: 85px;
        height: 33px;
    }
}

.success-pwd-wrapper{
    width: 389px;
    height: fit-content;
    height: -moz-fit-content;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-shadow: 0px 2px 7px #4EEBF5;
    padding: 50px 50px;
    text-align: center;
    padding-bottom: 25px;
}

@media (max-width:576px) {
    .success-pwd-wrapper{
        width: 316px;
        padding: 25px 20px;
    }
}

.success-pwd-wrapper h1{
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.2;
}

@media (max-width:576px) {
    .success-pwd-wrapper h1{
        font-size: 16px;
        margin-bottom: 12px;
    }
}

.success-pwd-wrapper .login-btn{
    width: 92px;
    height: 44px;

    background: #FFFFFF;
    border: 1px solid #F33071;
    box-shadow: 0px 2px 4px #4EEBF5;
    font-weight: 400;
    font-size: 16px;
    color: var(--pp-main);
    margin-top: 10px;
}