/*__________________________________________
|
|
|           Nail-tech Log In Page 
|__________________________________________*/

.overflow-x-hidden {
  overflow-x: hidden;
}

.login-content {
  padding: 0;
  max-width: 1440px;
}


.login-content .login-section {
  padding: 40px 0px;
}

@media (min-width:768px) {

  .login-content .login-section {
    margin-top: 100px;
  }

  .login-content .login-section .form-wrapper {
    transform: scale(1.4);
  }
}

@media (min-width:1024px) {
  .login-content {
    height: 100vh;
  }

  .login-content .login-section .form-wrapper {
    transform: scale(1);
  }

  .login-content .login-section {
    margin: auto;
    margin-top: 100px;
  }
}

@media (min-width:1366px) {
  .login-content .login-section {
    margin: auto;
    padding: 0;
  }

  .login-content .login-section .form-wrapper {
    transform: scale(1);
  }
}

@media (min-width:1500px) {
  .login-content {
    width: 100%;
    max-width: unset;
  }
}


.login-content .login-section .form-wrapper h1 {
  font-size: 36px;
  text-align: center;
  font-weight: 400;
}

@media (min-width:1366px) {
  .login-content .login-section .form-wrapper h1 {
    font-size: 28px;
  }
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--pp-main);
  opacity: 1;
  font-weight: 400;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--pp-main);
  font-weight: 400;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--pp-main);
  font-weight: 400;
}

/* @media (min-width: 1440px){
      .login-content {
        width: 1366px;
      }
    } */

@media (min-width: 1366px) {
  .login-content {
    height: 100vh;
  }
}

.login-content .login-section .form-wrapper .login-form {
  display: block;
  width: 283px;
  margin: auto;
  margin-top: 20px;
}

@media (max-width:768px) {
  .login-content .login-section .form-wrapper .login-form {
    display: block;
    width: 283px;
    margin: auto;
    margin-top: 25px;
  }
}

@media (max-width:576px) {
  .login-content .login-section .form-wrapper .login-form {
    margin-top: 20px;
  }
}

.login-content .login-section .form-wrapper .login-form .pp-input {
  width: 100%;
  height: 20px;
  padding: 0;
  outline: 0;
  border: 0;
  font-size: 16px;
  position: relative;
  border-bottom: 1px solid #b1b1b1;
  border-radius: 0 !important;
  color: #646161;
  margin-bottom: 12px;
  font-family: var(--pp-font-assistant);
  -webkit-appearance: none !important;
  font-weight: 600;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #646161 !important;
}

.login-content .login-section .form-wrapper .login-form input::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #b1b1b1;
}

.login-content .pp-logo {
  position: absolute;
  width: 189px;
  height: 83px;
  top: -5px;
  left: -20px;
  transform: scale(0.5);
}

.reglog-btn {
  width: 105px;
  height: 39px;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--pp-font-main);
  padding: 0px 20px;
  font-size: 24px;
  color: #646161;

  border: none;
  outline: none;
  background-color: white;
  border: 1.5px solid var(--pp-main);
  box-shadow: 0px 4px 8px var(--pp-secondary);
}

.login-content .login-section .form-wrapper .forgot-pwd {
  display: block;
  text-align: center;
  font-family: var(--pp-font-assistant) !important;
  font-size: 12px;
  margin: auto;
  margin-top: 32px;
}

.login-content .login-section .form-wrapper .signup-acc {
  font-family: var(--pp-font-assistant);
  color: #646161;
  font-size: 12px;
  margin-top: 30px;
}

.login-content .login-section .form-wrapper .cus-booking {
  font-family: var(--pp-font-assistant);
  color: #646161;
  font-size: 12px;
  margin-top: 40px;
}

.login-content .login-media {
  background-color: rgba(243, 48, 113, 0.26);
  padding: 25px 0 30px 0;
  position: relative;
  width: 100%;

}

@media (min-height:739px) and (min-width:1000px) {
  .login-content .login-media {
    padding-top: 130px;
  }
}

@media (min-width:1024px) {
  .login-content .login-media {
    width: 55%;
  }
}

@media (min-width:1366px) {
  .login-content .login-media {
    width: 777px;
  }
}

@media (min-width:1440px) {
  .login-content .login-media {
    padding-top: 168px;
  }
}

@media (min-width:1500px) {
  .login-content .login-media {
    width: 55%;
    padding-top: 265px;
  }
}

@media (max-width:576px) {
  .login-content .login-media {
    padding: 0 0 15px 0;
  }
}

.login-content .login-media .media-wrapper .logo-img {
  display: block;
  width: 125px;
  height: 39px;
  margin: auto;
}

.login-content .login-media .media-wrapper .reglog-img {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

.login-content .login-media .media-wrapper .md-title {
  margin-top: 32px;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  color: white !important;
  text-shadow: 4px 4px 20px #FF0055;
}

.login-content .login-media .media-wrapper .lg-heading {
  font-weight: 400;
  font-size: 55px;
  text-align: center;
  color: white !important;
  text-shadow: 4px 4px 20px #FF0055;
}

.login-content .login-media .media-wrapper .lg-title {
  margin-top: 0 !important;
  font-weight: 400;
  font-size: 72px;
  text-align: center;
  color: white !important;
  text-shadow: 4px 4px 20px #FF0055;
}

.login-content .login-media .media-wrapper h1 {
  margin-top: 0 !important;
  margin-bottom: 0.5rem !important;
  line-height: 1.2 !important;
}